---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

import Hero from "../components/Hero.astro";
import SectionHeading from "../components/SectionHeading.astro";
import CardGrid from "../components/CardGrid.astro";
import ContentWithImage from "../components/ContentWithImage.astro";
import MarkdownBlock from "../components/MarkdownBlock.astro";
import PersonCard from "../components/PersonCard.astro";
import FaqSection from "../components/FaqSection.astro";
import Newsletter from "../components/Newsletter.astro";
import FeaturedArticles from "../components/FeaturedArticles.astro";

const res = await fetch(import.meta.env.LANDING_PAGE_API_URL);
const json = await res.json();
const { blocks } = json.data;
console.dir(blocks, { depth: null });
---

<Layout>
	<main class="bg-white text-gray-900 antialiased">
		{
			blocks.map((block: any) => (
				<>
					{block.__component === "blocks.hero" && <Hero block={block} />}
					{block.__component === "blocks.section-heading" && (
						<SectionHeading block={block} />
					)}
					{block.__component === "blocks.card-grid" && (
						<CardGrid block={block} />
					)}
					{block.__component === "blocks.content-with-image" && (
						<ContentWithImage block={block} />
					)}
					{block.__component === "blocks.markdown" && (
						<MarkdownBlock block={block} />
					)}
					{block.__component === "blocks.person-card" && (
						<PersonCard block={block} />
					)}
					{block.__component === "blocks.faqs" && (
						<FaqSection block={block} />
					)}
					{block.__component === "blocks.newsletter" && (
						<Newsletter block={block} />
					)}
					{block.__component === "blocks.featured-articles" && (
						<FeaturedArticles block={block} />
					)}
				</>
			))
		}
	</main>
</Layout>
